body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.caixinha {
  background-color: rgb(157, 219, 243);
  color: white;
  padding: 102px;
  margin: 5px;
  width: 1040px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
.caixinha2 {
  background-color: rgb(157, 219, 243);
  color: white;
  padding: 102px;
  margin: 5px;
  width: 1040px;
  height: 50px;
  border-radius: 10px;
}
.caixinha3 {
  background-color: rgb(157, 219, 243);
  color: white;
  padding: 102px;
  margin: 5px;
  width: 1040px;
  height: 50px;
  border-radius: 10px;

  display: flex;
  flex-direction: column; 
  align-items: flex-start; 

}
.caixinha4 {
  background-color: rgb(157, 219, 243);
  color: white;
  padding: 102px;
  margin: 5px;
  width: 1040px;
  height: 50px;
  border-radius: 10px;
}
.caixinha5 {
  background-color: rgb(157, 219, 243);
  color: white;
  padding: 102px;
  margin: 5px;
  width: 1040px;
  height: 50px;
  border-radius: 10px;
}
.caixinha6 {
  background-color: rgb(157, 219, 243);
  color: white;
  padding: 102px;
  margin: 5px;
  width: 430px;
  height: 50px;
  border-radius: 10px;
}
.caixinha img {
  width: 120px;   
  height: auto;  
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.caixinha3 img {
  display: flex;    
  gap: 10px;         
  margin-top: 15px;
  flex-wrap: wrap;   
  width: 60px;
  height: auto;
}
.caixinha6 img {
  display: flex;    
  gap: 10px;         
  margin-top: 15px;
  flex-wrap: wrap;   
  width: 60px;
  height: auto;
}

header{
  display: flex;
  flex-direction: column;
}
#direitos2{
    background-color: rgb(157, 219, 243);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#titulo{
    background-color: rgba(180, 182, 183, 0.507);
    color: rgb(0, 0, 0);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#faixa {
    width: 100%;
    height: 8px;

    background: repeating-linear-gradient(
        45deg,
        yellow,
        yellow 20px,
        orange 20px,
        orange 40px
    );
}
#button{
    background-color: rgba(180, 182, 183, 0.507);
    color: rgb(0, 0, 0);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tabelass {
    display: flex;      
    width: 100%;  
    color: black;      
}
.tabelass table {
    width: 50%;         
    border: 1px solid black;
    color: black;
}

#direitos{
    background-color: rgba(239, 243, 245, 0.507);
    color: rgb(0, 0, 0);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}